.parallax-container {
    height: 240px;
}

.parallax img {
    opacity: 0.5;
}

.mynav {
    background-color: #10375c;
}

.myside {
    background-color: #10375c;
}

.bg {
    background-color: #f4f6ff;
}

.this {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
}

.m {
    text-align: center;
    padding: 10px;
    font-weight: bolder;
    color: #10375c;
}

.ct {
    display: block;
    line-height: 32px;
    font-size: 28px;
    margin-bottom: 8px;
    text-align: center;
    font-weight: bold;
    color: #f4f6ff;
}

.here {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    color: #f3c623
}


